@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  background: linear-gradient(to left, #8f94fb, #4e54c8);
}

header {
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding: 10px;
}

.logo h1 {
  color: white;
}

.navbar {
  height: 50%;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  width: 100%;
}

.navbar ul {
  color: white;
  display: flex;
  gap: 40px;
  list-style: none;
  align-items: center;
  cursor: pointer;
}

.navbar ul li:hover {
  color: #bad7f5;
}

.btn {
  padding: 10px;
  background: #4e54c8;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);   color: black;
  border: none;
  border-radius: 10px;
  transition: 0.2s ease;
  cursor: pointer;
  color: white;
}

.btn:hover {
  background-color: #464cb3;
}

.searchbar {
  height: auto;
  width: auto;
  color: #4146ab;
  align-items: center;
  display: flex;
  position: relative;
  max-width: 400px;
}

.searchbar button {
  border: none;
}

.searchbar input {
  padding: 15px;
  border: none;
  color: #4146ab;

  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  border-radius: 10px;
  outline: none;
  width: 400px;
  &::placeholder{
    color: white;
  }
}

.searchbar input:focus,
.searchbar input:active {
  background: rgba(255, 255, 255, 0.05);
}

.searchbar .fa {
  position: absolute;
  right: 0;
  height: 100%;
  width: 10%;
  border-radius: 0px 10px 10px 0px;
  background: #4e54c8;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  color: black;
  transition: 0.2s ease;
  cursor: pointer;
  color: white;
}

.searchbar .fa:hover {
  background: #474cb3;
}

.label {
  display: flex;
  align-items: center;
  gap: 20px;
}


.container .box {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  border-radius: 10px;
  display: flex;
  width: 90%;
  height: 350px;
  flex-direction: column;
  padding: 30px;

}

.card{
  display: flex;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  border-radius: 10px;
  width: 90%;
  height: 300px;
  padding: 30px;
  flex-direction: column;
  gap: 50px;
  color: white;


}

.card h1{
  color: #fff;
  width: 100%;
  font-size: 40px;
}

.card p{
  width: 100%;
}

.container {
  height: 400px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
#image1{
  filter: invert(100%);
}
.name{
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  height: 40px;
  padding: 0px 15px;
  display: flex;
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
}



.skycast{
  display: flex;
  color: white;
  gap: 10px;
  height: 70px;
  align-items: center;
  font-size: 14px;
  width: 100%;
  margin-top: 10px;
}

.temp{
  display: flex;
  gap: 10px;
}



#weatherdetail {
  display: flex;
  color: #fff;
  flex-direction: column;
  gap: 10px;
}

.humidity,
.air {
  display: flex;
  align-items: center;
  gap: 50px;
}

.section2 {
  margin-top: 50px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


footer {
  margin-top: 50px;
  height: 50px;
  background-color: #4146ab;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  header {
    height: 80px;
  }

  .section2{
    margin-top: 100px;
  }
  
  .searchbar input {
    padding: 14px;
    width: 250px;
    opacity: 0;
    transition:  0.4s ease-in;
  }

  .searchbar .fa{
    position: absolute;
    width: 50px;
  }

  .searchbar input.active {
    min-width: 150px;
    opacity: 1;
  }

  .container {
    margin-top: 100px;
    height: 450px;
    flex-direction: column;
  }
  .card{
    height: auto;
  }

  .navbar .label {
    display: none;
  }


  .hide{
    display: none;
  }
}
